
.button-show {
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    left: 2rem;
    background-color: #3b82f6; 
    color: #ffffff; 
    padding: 0.5rem 1rem;
    border-radius: 9999px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .button-show .badge {
    margin-left: 0.5rem;
    background-color: #ef4444; 
    color: #ffffff; 
    font-size: 0.75rem; 
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px; 
  }
  

  .dock-container {
    position: fixed;
    z-index: 999;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: rgba(31, 41, 55, 0.6); 
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    transition: all 0.6s ease-in-out;
  }
  
  .dock-container.hidden {
    opacity: 0;
    transform: translateY(2.5rem);
    pointer-events: none;
  }
  

  .dock-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
  
  .dock-item-icon {
    color: #ffffff; 
    font-size: 1.875rem; 
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  
  .dock-item-label {
    font-size: 0.875rem; 
    color: #e5e7eb; 
  }
  
  .dock-item:hover .dock-item-icon {
    transform: scale(1.25);
  }
  

  .menu {
    position: absolute;
    bottom: 4rem;
    background-color: #ffffff; 
    color: #1f2937; 
    padding: 1rem;
    border-radius: 0.5rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-10px);
    opacity: 1;
    width: 250px;
  }
  
  .menu-hidden {
    opacity: 0;
    pointer-events: none;
  }
  

  .menu-button {
    width: 100%;
    text-align: left;
    color: #374151; 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .menu-button:hover {
    background-color: #dbeafe; 
    color: #1e3a8a; 
  }
  
  .menu-button:focus {
    outline: none;
    background-color: #bfdbfe; 
  }

  .button-hide {
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    left: 2rem;
    background-color: #ef4444;
    color: #ffffff; 
    padding: 0.5rem 1rem;
    border-radius: 9999px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .border-bottom-gray {
    padding :0.75rem;
    border-bottom-width: 1px;
    border-color: #e5e7eb;
    display: flex;
    flex-direction: column;
  }

  .text-gray-bold {
    color: gray;
    font-weight: bold;
    font-size: 1.125rem; 
    margin-bottom: 0.5rem;
  }

  .menu-action-container-dir{
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem; /* 0.75rem es equivalente a mt-3 en Tailwind */
  }

  .actions-container-label {
    margin-top: 0.5rem; /* mt-2 */
    display: flex; /* flex */
    justify-content: flex-end; /* justify-end */
    align-items: center; /* items-center */
  }
  
  .actions-text {
    color: #9ca3af; /* text-gray-400 */
    font-size: 0.75rem; /* text-xs */
  }